In [2]:
def test1():
    a = 5+6
    return a
test1()

11

In [4]:
def test2(a,b):
    return a+b
test2(5,6)

11

In [8]:
def test3(*args):
    return args

test3(1,2,3,4,"sudh")

(1, 2, 3, 4, 'sudh')

In [10]:
type(test3((1,2,3,4,"sudh")))

tuple

In [11]:
number = int(input ("Enter the number of which the user wants to print the multiplication table: "))      
# We are using "for loop" to iterate the multiplication 10 times       
print ("The Multiplication Table of: ", number)    
for count in range(1, 11):      
   print (number, 'x', count, '=', number * count)

Enter the number of which the user wants to print the multiplication table: 2
The Multiplication Table of:  2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [12]:
test3([1,2,3,4,5],"sudh","ineuron", 5+7j, (4,5,6))

([1, 2, 3, 4, 5], 'sudh', 'ineuron', (5+7j), (4, 5, 6))

In [14]:
def test3(*args):
    return list(args)

test3 ("sudh","ineuron", 5+7j, (4,5,6), 3.56)

['sudh', 'ineuron', (5+7j), (4, 5, 6), 3.56]

In [15]:
def test5(*args):
    l = []
    for i in args:
        l.append(i)
    return l

test5(34,56,23,87)

[34, 56, 23, 87]

In [17]:
for i in range (1,11):
    number = 5
    print(number,"x",i,"=",number * i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [18]:
d2 = {"key1" : "sudh" , "key2" : [2,3,4,5]}

In [19]:
d2

{'key1': 'sudh', 'key2': [2, 3, 4, 5]}

In [20]:
d3 = { 234324 : "sudh"}

In [26]:
d3

{234324: 'sudh'}

In [21]:
d4 = { "$sudh" : "sudh"}

In [27]:
d4

{'$sudh': 'sudh'}

In [22]:
d5 = {[1,2,3,4] : "sudh"}

TypeError: unhashable type: 'list'

In [23]:
d6 = {(1,2,3,4,5) : "sudh"}

In [28]:
d6

{(1, 2, 3, 4, 5): 'sudh'}

In [24]:
d7 = { "name" : "sudhanshu" , "org" : "ineuron" , "mail id " : "sudhanshu@ineuron.ai" , "name" : "sudh" , "name1" : "sudh"}

In [29]:
d7

{'name': 'sudh',
 'org': 'ineuron',
 'mail id ': 'sudhanshu@ineuron.ai',
 'name1': 'sudh'}

In [25]:
d8 = {"name": "sudh" , "mentor" : {"fsds": "imran" , "fsda":"anand" , "bigdata" : "shashank" }}

In [30]:
d8

{'name': 'sudh',
 'mentor': {'fsds': 'imran', 'fsda': 'anand', 'bigdata': 'shashank'}}

In [31]:
d8['mentor']['bigdata']

'shashank'

In [32]:
list(d7.keys())

['name', 'org', 'mail id ', 'name1']

In [33]:
d7.values()

dict_values(['sudh', 'ineuron', 'sudhanshu@ineuron.ai', 'sudh'])

In [34]:
d7.items()

dict_items([('name', 'sudh'), ('org', 'ineuron'), ('mail id ', 'sudhanshu@ineuron.ai'), ('name1', 'sudh')])

In [36]:
list(d8['mentor'].values())

['imran', 'anand', 'shashank']

In [37]:
l = []
for i in d8.keys():
    if type(d8[i])  == dict : 
        l.append(list(d8[i].values()))
        
l

[['imran', 'anand', 'shashank']]

In [38]:
d9 = {'name': 'sudh','mentor': {'fsds': 'imran', 'fsda': 'anand', 'bigdata': 'shashank'} , "mail_id" : {"imran" : "imran@ineiuron.ai" , "anand" : "anand@ineuron.ai" , "shashank" : "shashank@ineuron.ai"}}
d9

{'name': 'sudh',
 'mentor': {'fsds': 'imran', 'fsda': 'anand', 'bigdata': 'shashank'},
 'mail_id': {'imran': 'imran@ineiuron.ai',
  'anand': 'anand@ineuron.ai',
  'shashank': 'shashank@ineuron.ai'}}

In [39]:
l = []
for i in d9.keys():
    if type(d9[i])  == dict : 
        l.append(list(d9[i].values()))
        
l

[['imran', 'anand', 'shashank'],
 ['imran@ineiuron.ai', 'anand@ineuron.ai', 'shashank@ineuron.ai']]