In [2]:
def test1():
    a = 5+6
    return a
test1()

11

In [4]:
def test2(a,b):
    return a+b
test2(5,6)

11

In [8]:
def test3(*args):
    return args

test3(1,2,3,4,"sudh")

(1, 2, 3, 4, 'sudh')

In [10]:
type(test3((1,2,3,4,"sudh")))

tuple

In [11]:
number = int(input ("Enter the number of which the user wants to print the multiplication table: "))      
# We are using "for loop" to iterate the multiplication 10 times       
print ("The Multiplication Table of: ", number)    
for count in range(1, 11):      
   print (number, 'x', count, '=', number * count)

Enter the number of which the user wants to print the multiplication table: 2
The Multiplication Table of:  2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [12]:
test3([1,2,3,4,5],"sudh","ineuron", 5+7j, (4,5,6))

([1, 2, 3, 4, 5], 'sudh', 'ineuron', (5+7j), (4, 5, 6))

In [14]:
def test3(*args):
    return list(args)

test3 ("sudh","ineuron", 5+7j, (4,5,6), 3.56)

['sudh', 'ineuron', (5+7j), (4, 5, 6), 3.56]

In [15]:
def test5(*args):
    l = []
    for i in args:
        l.append(i)
    return l

test5(34,56,23,87)

[34, 56, 23, 87]

In [17]:
for i in range (1,11):
    number = 5
    print(number,"x",i,"=",number * i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50