# sets

# sets are unordered collection of unique element 
## sets {}

## in sets repeated value are not shown bcz it will only contain unique element

In [1]:
x={1,2,33,45,6}

x

{1, 2, 6, 33, 45}

In [2]:
type(x)

set

In [3]:
x = {1,1,2,3,1,3,4,5,7,7,9}
x

{1, 2, 3, 4, 5, 7, 9}

In [4]:
x =set()      ## recommended

type(x)

set

In [5]:
x={}         ## not recommended

type(x)

dict

In [6]:
x = tuple()

type(x)

tuple

In [7]:
x= list()

type(x)

list

In [8]:
x= list()

x

[]

In [9]:
x = {1,1,2,3,1,3,4,5,7,7,9}
x

{1, 2, 3, 4, 5, 7, 9}

In [10]:
x[0]

TypeError: 'set' object is not subscriptable

# this is not allowed bcz it is not in order

In [11]:
x = {1, 2, 33, 6, "sunny"}

x

{1, 2, 33, 6, 'sunny'}

In [13]:
x.add(99)
x

{1, 2, 33, 6, 99, 'sunny'}

In [14]:
A = [1,2,3,5,5,6,6,7,7,7]
A

[1, 2, 3, 5, 5, 6, 6, 7, 7, 7]

In [16]:
A = set (A)
A

{1, 2, 3, 5, 6, 7}

In [18]:
A = list(set(A))
A

[1, 2, 3, 5, 6, 7]

In [19]:
x = {1, 2, 33, 6, "sunny"}
x

{1, 2, 33, 6, 'sunny'}

# Add

# append does not work on sets

In [20]:
x.add(1+2j)

x

{(1+2j), 1, 2, 33, 6, 'sunny'}

In [21]:
x.add(-100)
x

{(1+2j), -100, 1, 2, 33, 6, 'sunny'}

In [22]:
x.add(-200)
x

{(1+2j), -100, -200, 1, 2, 33, 6, 'sunny'}

In [23]:
x.add(40.2)
x

{(1+2j), -100, -200, 1, 2, 33, 40.2, 6, 'sunny'}

In [24]:
x.add(20.2)
x

{(1+2j), -100, -200, 1, 2, 20.2, 33, 40.2, 6, 'sunny'}

# Remove

In [29]:
x.remove(-200)
x

{(1+2j), 1, 2, 20.2, 33, 40.2, 6, 'sunny'}

# Addition

# Adittion does not work in sets

In [30]:
A = {1,23,56}
B = {3,89,34}

A+B

TypeError: unsupported operand type(s) for +: 'set' and 'set'