# Tuples

## Tuples  ()
## List []

## Tuples are immutable
## list are mutable

In [4]:
A=(1,2,3,4,5)
A

(1, 2, 3, 4, 5)

In [5]:
A[0]

1

In [6]:
A[-1]

5

In [8]:
A.sort() ## it is not allowed because it is immutable

AttributeError: 'tuple' object has no attribute 'sort'

In [9]:
sorted(A)

[1, 2, 3, 4, 5]

# sorted is allowed but convert it into list / it is not a permanent change

In [11]:
A = (10,34,45,32,12)
A

(10, 34, 45, 32, 12)

In [12]:
len(A)

5

In [13]:
A*2

(10, 34, 45, 32, 12, 10, 34, 45, 32, 12)

In [15]:
A ## because it is immutable gives you original value

(10, 34, 45, 32, 12)

In [17]:
A**2 ## it is not allowed in tuple

TypeError: unsupported operand type(s) for ** or pow(): 'tuple' and 'int'

In [18]:
max(A)

45

In [19]:
min(A)

10

In [20]:
A.index(10)

0

In [21]:
A.count (12)

1

In [22]:
sum(A)

133

In [24]:
A.reverse() ## it cannot be done

AttributeError: 'tuple' object has no attribute 'reverse'

In [25]:
amazon_cart = [("watch",5000),("phone",10000),("laptop",50000),]

amazon_cart

[('watch', 5000), ('phone', 10000), ('laptop', 50000)]

## tuples are not use frequently it is only used for immutable elements.

In [26]:
A[::1]

(10, 34, 45, 32, 12)

In [27]:
A[1:]

(34, 45, 32, 12)

In [28]:
A[2:]

(45, 32, 12)

In [29]:
A[1:3:]

(34, 45)

In [30]:
amazon_cart = [("watch",5000),("phone",10000),("laptop",50000),]

amazon_cart

[('watch', 5000), ('phone', 10000), ('laptop', 50000)]

In [31]:
## item_name, amount

total_cost = 0
print(f"empty cart: {total_cost}")
for item in amazon_cart:
    print(item[1])
    total_cost = total_cost + item[1]
    print(f"cart after adding {item[0]}: {total_cost}")
print(f"total payable amount:{total_cost}")

empty cart: 0
5000
cart after adding watch: 5000
10000
cart after adding phone: 15000
50000
cart after adding laptop: 65000
total payable amount:65000

In [32]:
## user input what you want to purchase 

amazon_website = amazon_cart = [("watch",5000),("phone",10000),("laptop",50000),]

my_choice = input("what do you want to purchase?  : ")

what do you want to purchase?  : phone

In [35]:
for item in amazon_website:
    if item[0] == my_choice:
        print(item)

('phone', 10000)